/**
 * Created by gaoyang on 2018/03/27.
 * @title 需求列表样式
 */
@import '../../../public/styles/var.css';
.requirement-setting-wrapper{
	margin: 20px;
	padding: 20px;
	height: calc(100% -40px);
	width: 700px;
	background: #fff;
	box-sizing: border-box;
	.yii-date-picker-trigger{
		width: 238px;
	}
	.num-bug{
		width: 238px;
	}
}