/**
 * Created by gaoyang on 2018/03/07.
 * @title 环境列表样式
 */
@import '../../../public/styles/var.css';
.environment-setting-wrapper{
	width: 700px;
	margin: 20px;
	height: calc(100% - 40px);
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	.yii-input-el {
	    color: #666;
	    line-height: 40px;
	    height: 40px;
	    border: 1px solid #ddd;
	    border-radius: 2px;
	}
}