/**
 * Created by gaoyang on 2018/04/08.
 * @title 计划明细列表样式
 */
@import '../../../public/styles/var.css';
.plandetail-setting-wrapper{
	margin: 20px;
	height: calc(100% - 40px);
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	width: 500px;
}