/**
 * Created by gaoyang on 2018/04/08.
 * @title 计划列表样式
 */
@import '../../../public/styles/var.css';
.plan-detail-wrapper{
    margin: 20px;
	height: calc(100% - 40px);
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	.plan-detail{
		width: 500px;
		line-height: 25px;
		.yii-row{
			margin-bottom: 10px;
			.label{
				color: #333;
			}
			.value{
				padding-left: 10px;
				color: #555;
			}
		}
	}
	.plan-detail-plandetails{
		.p-search-req{
			padding: 10px 0px;
			display: flex;
			justify-content: left;
			align-items: center;
			width: 100%;
			.p-search-input{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60%;
				max-width: 500px;
				border:1px solid #eee;
				border-radius: 5px;
				padding-left: 10px;
				transition: 0.5s;
				height: 35px;
				background-color: #f7f6f3;
				&:hover{
					box-shadow:0 2px 4px rgba(0, 0, 0, 0.15);
				}
				.input-search{
					padding-left: 20px;
					margin-right: 20px;
					height: 100%;
					flex: 1;
					outline: none;
					border:none;
					background-color: transparent;
				}
			}
			.yii-date-picker-trigger .yii-input-el[disabled], .yii-input-el[readonly]{
				border:none;
				background-color: #f7f6f3;
			}
			
			.p-search-date-start{
				margin-left: 20px;
				width: 200px;
				
			}
			.p-search-date-end{
				margin-left: 20px;
			}
			.p-search-btn{
				margin-left: 10px;
			}
		}
		.p-req-con{
			display: flex;
			flex-direction: row;
			.p-desc-content{
				width: 100%;
				.p-descs{
					height: 100px;
					.p-desc{
						display: flex;
						align-items: center;
						.p-desc-title{
							width: 50px;
							color: #333;
							line-height: 30px;
						}
						.p-desc-value{
							flex: 1;
							height: 2px;
							
						}
						.p-desc-value-dev{
							background-color: #333;
						}
						.p-desc-value-couplet{
							background-color: #f6dc4a;
						}
						.p-desc-value-test{
							background-color: red;
						}
					}
				}

				.workrecord-table{
					margin: 0px;
					border-spacing: 0;
				    border-collapse: collapse;
				    width: 100%;
				    border:1px solid #d8dde4;
				    tr{
				        th{
				            padding:0px 8px;
				            text-align: left;
				            padding: 0px 10px;
				            line-height: 45px;
				            border-right: 1px solid #d8dde4;
				            vertical-align: middle;
				            word-wrap: break-word;
				            background-color: #e7ebf0;
				            word-break: break-all;
				            white-space: nowrap;
				            color: #333;
				            .add-btn{
			    				font-family: YiiIcon!important;
							    display: inline-block;
							    speak: none;
							    font-style: normal;
							    font-weight: 400;
							    font-variant: normal;
							    text-transform: none;
							    line-height: 1;
							    letter-spacing: 0;
							    -webkit-font-feature-settings: "liga";
							    -moz-font-feature-settings: "liga=1";
							    -moz-font-feature-settings: "liga";
							    -ms-font-feature-settings: "liga" 1;
							    -o-font-feature-settings: "liga";
							    font-feature-settings: "liga";
							    -webkit-font-smoothing: antialiased;
			    	            color: #666;
			    	            width: 20px;
			    	            height: 20px;
			    	            font-size: 12px;
			    	            cursor: pointer;
			    	            &:before{
			    	            	content: "\E627";
			    	            }
				            }
				        }
				        td{
				            height: 37px;
				            color: #666;
				            border-left: 1px solid #d8dde4;
					        border-bottom:1px solid #d8dde4;
				            text-align: left;
				            padding: 0px 10px;
				            line-height: 23px;
				            font-size: 14px;
				            a{
				                color: #4ab3fb;
				            }
				            &.op{
				                padding: 5px;
				            }
				            input,.yii-select{
				            	height: 100%;
				            	width: 100%;
				            	border:none;
				            	outline: none;
				            	background-color: transparent;
				            	text-align: center;
				            	font-size: 14px;
				            	color: #666;
				            }
				            .yii-input{
				            	font-size: 14px;
				            }
				            .yii-button-content,.yii-icon-calendar{
				            	display: none;
				            }

				            .del-btn{
			    				font-family: YiiIcon!important;
							    display: inline-block;
							    speak: none;
							    font-style: normal;
							    font-weight: 400;
							    font-variant: normal;
							    text-transform: none;
			    	            color: #666;
			    	            width: 20px;
			    	            font-size: 12px;
			    	            cursor: pointer;
			    	            &:before{
			    	            	content: "\E69F";
			    	            }
				            }
				            .edit-btn{
			    				font-family: YiiIcon!important;
							    display: inline-block;
							    speak: none;
							    font-style: normal;
							    font-weight: 400;
							    font-variant: normal;
							    text-transform: none;
			    	            color: #666;
			    	            width: 20px;
			    	            font-size: 12px;
			    	            cursor: pointer;
			    	            &:before{
			    	            	content: "\E692";
			    	            }
				            }
				        }

				    }
				}
			}

		}
	}
}